del, .removed-text {
    background-color: #ffb2b2 !important;
}

ins, .added-text {
    background-color: #bdffbd !important;
}

.disabled-cursor {
    cursor: not-allowed
}

.enabled-cursor {
    cursor: pointer;
}

.error {
    color: red;
}

.modal-body {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.field-name {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: bold;
}

.field-content {
    margin-bottom: 20px;
}